<%= link_to root_url + case_study[:full_path], 
    title: "View the case study: #{case_study[:title]}", 
    class: "card--case-study" do %>
      <h2 class="card__title"><%= case_study[:title] %></h2>
      <p class="card__summary"><%= case_study[:text] %></p>
      <i class="icon--circle-chevron-white"></i>
<% end %>