//--------------------------------------------------
// row chart
//--------------------------------------------------
  &--row {
    margin-bottom: rem-calc(28);
    width: 100%;
    
    @include breakpoint($small) { width: 48%; }

    &__subtitle {
      font-weight: $bold;
      margin-bottom: rem-calc(10);
    }

    .chart {
      &__chart {

      }

        &__title {

        }

        &__row {
          background-color: $grey-xlight;
          font-size: rem-calc(14);
          font-weight: $normal;
          margin-bottom: rem-calc(10);
          padding-right: rem-calc(20);
          width: 100%; height: rem-calc(54);
          position: relative;
         

          @include breakpoint($small) { 
            font-size: rem-calc(20);
            height: rem-calc(40); 
          }

          &.chart-theme--blue {

            &:nth-child(1) { .chart__bar { background-color: $chart-blue-light; } }
            &:nth-child(2) { .chart__bar { background-color: $chart-blue; } }
            &:nth-child(3) { .chart__bar { 
              background-color: $chart-blue-dark; } }
          }

          &.chart-theme--green {
            &:nth-child(1) { .chart__bar { background-color: $chart-green-light; } }
            &:nth-child(2) { .chart__bar { background-color: $chart-green; } }
            &:nth-child(3) { .chart__bar { background-color: $chart-green-dark; } }
          }

          &.chart-theme--pelagic {
            &:nth-child(1) { .chart__bar { background-color: #96A2FF; } }
            &:nth-child(2) { .chart__bar { background-color: #6D78CC; } }
            &:nth-child(3) { .chart__bar { background-color: #424C9A; } }
          }
        }

          &__bar {
            background-color: $grey-dark;
            opacity: 0.9;
            transform-origin: left;
            transform: scaleX(0);
            transition: transform 5s ease-out;

            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            
            // TODO - why isn't this working? 
            // Animation  
            .bar-animate {
              transform: scaleX(1);
            }

            &--oecm {
              position: absolute;
              top: 0;
              bottom: 0;
            }

            &--wdpa {
              position: absolute;
              top: 0;
              bottom: 0;
            }
          }

          &__percent {
            padding-left: rem-calc(12);

            z-index: 1;
          }

          &__label {
            font-weight: $bold;
          }

          &__legend {
            @include flex;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
              @include flex;
              @include flex-v-center;
              padding-right: rem-calc(15);
            }

            p {
              line-height: 1.3;
              margin-bottom: 0;
            }
         
            .chart-key {
              border-radius: $radius-global;
              margin-right: rem-calc(7);
              height: rem-calc(17); width: rem-calc(17);
              
              &__oecm {
                &--blue {
                  @extend .chart-key;
                  background-color: #24475C;
                }
    
                &--green {
                  @extend .chart-key;
                  background-color: #333E23;
                }
  
                &--pelagic {
                  @extend .chart-key;
                  background-color: #1F2341;
                }
              }

              &__wdpa {
                &--blue {
                  @extend .chart-key;
                  background-color: #3a85b4;
                }
    
                &--green {
                  @extend .chart-key;
                  background-color: #6aa116;
                }
  
                &--pelagic {
                  @extend .chart-key;
                  background-color: #0b1986;
                }
              }
            }
          }

    }
  }