//--------------------------------------------------
// chart legend
//--------------------------------------------------
  &--legend {
    margin-top: rem-calc(26);

    .chart {
      &__legend-item {
        .chart__legend-key { background-color: $chart-purple; }
        
        &:first-child  { .chart__legend-key { margin-left: 0; } }
        &:nth-child(2) { .chart__legend-key { background-color: $chart-yellow; } }
        &:nth-child(3) { .chart__legend-key { background-color: $chart-green; } }
        &:nth-child(4) { .chart__legend-key { background-color: $chart-blue; } }
      }

        &__legend-key {
          border-radius: rem-calc(2);
          margin-right: rem-calc(10);
          margin-left: rem-calc(18);
          width: rem-calc(28); height: rem-calc(28);

          display: block;

          transform: translateY(-2px);
        }

        &__legend-text {
          margin-right: rem-calc(6);
          display: inline-block;
        }
    }
  }