//--------------------------------------------------
// area chart
//--------------------------------------------------
  &--area {
    margin-bottom: rem-calc(20);

    .chart {
      &__chart {}

        &__dataset {
          position: relative;

          &:first-child { 
            .chart__bar { 
              border-top-left-radius: rem-calc(2); 
              border-bottom-left-radius: rem-calc(2); 
            }
          }

          &:last-child { 
            .chart__bar { 
              border-top-right-radius: rem-calc(2); 
              border-bottom-right-radius: rem-calc(2); 
            }
          }
        }

          &__bar {
            position: relative;
        
            &-abnj { 
              background-color: $chart-abnj; 
              border-right: solid $white 1px;
            }

            &-eez { 
              background-color: $chart-eez; 
              border-right: solid $white 1px;
            }

            &-land { background-color: $chart-land; }

            &-marine { 
              background-color: $chart-marine; 
              border-right: solid $white 1px;
            }

            &-pa { 
              background-color: $chart-blue-xdark; 
              border-radius: $radius-global;

              position: absolute;
              top: rem-calc(8);
              left: rem-calc(8);

              @include breakpoint($small) {
                top: rem-calc(20);
                left: rem-calc(20);
              }
            }
          }

          &__label {
            font-size: rem-calc(12);
            font-weight: $light;
            position: absolute;
            bottom: rem-calc(2);
            left: rem-calc(8);
            

            @include breakpoint($small) {
              font-size: rem-calc(16);
              
              bottom: rem-calc(10);
              left: 50%;

              transform: translateX(-50%);
            }
          }
            &__label-pa {
              font-size: rem-calc(12);
              font-weight: $light;
              white-space: nowrap;

              position: absolute;
              top: calc(100% + 4px);
              left: 0;

              @include breakpoint($small) {
                font-size: rem-calc(16);

                top: 0;
                left: calc(100% + 10px);
              }
            }

            &__label-percentage { font-weight: $fw-black; }

      &__legend-item {
        &:first-child {
          .chart__legend-key { background-color: $chart-blue-xdark; }
        }
      }
    }
  }