<div class="bg--grey-x-light banner">
  <div class="container banner__content">
    <i class="icon--warning"></i>
    <span class="banner__text">Please note that this Protected Planet Report is now out of date. The new report will launched here on 19th May</span>
    <i class="icon--warning"></i>
  </div>
</div>