<div class="cards--case-studies container">
  <div class="cards__cards">
    <% @items.each do |card| %>
      <%= render partial: 'partials/sub_partials/case-study', locals: { case_study: card } %>
    <% end %>
  </div>
</div>