<div class="cards--case-studies container">
  <div class="cards__cards">
    <% @items.each do |card| %>
      <card-image
        :case-study="<%= card.to_json %>"
      ></card-image>
    <% end %>
  </div>
</div>