<div class="cta flex flex-v-center parallax">
  <div class="container">
    <div class="cta__content">
      <h3 class="cta__title heading--cta"><%= title %></h3>
      <p class="cta__text"><%= text %></p>

      <%= link_to 'Explore', url, title: "Visit #{title}", target: '_blank', class: 'cta__link button--cta' %>
    </div>
  </div>
</div>