<div class="cta--protected-planet">
  <div class="container cta__container">
    <div class="cta__content">
      <h3><%= title %></h3>
      <p><%= text %></p>
    </div>
    
    <%= link_to 'Explore', url, title: "Visit #{title}", target: '_blank', class: 'cta__link button--cta' %>
  </div>
</div>