<header class="hero--home parallax">
  <%= render 'partials/topbar' %>
  
  <div class="container hero__content">
  <h1 class="heading--home"><%= site_title %></h1>
    <p class="hero__intro center-margin"><%= @data['intro'] %></p>
  </div>

  <p class="hero__last-updated">Last data update <span class="hero__last-updated-date"><%= @last_updated_date %></span></p>
</header>