<!-- Methods called are encapsulated within TextPresenter -->
<% content = TextPresenter.new(text) %>

<section class="section-padding">
  <div class="container--small">
    <% if text.is_a?(Array) %>
      <% text.each do |t| %>
        <% if t.is_a?(Hash) %>
          <% is_unordered_list = t.length == 1 %>
          <p><%= content.preceding_clause(t) %></p>
          <%= sanitize(content.get_list_items(t, is_unordered_list)) %>
        <% else %>
          <p class="content__text"><%= t.html_safe %></p>
        <% end %>
      <% end %>
    <% else %>
      <p><%= text.html_safe %></p>
    <% end %>
  </div>
</section>