<div class="pagination">
  <nav-buttons
    :current-chapter="<%= @chapter_number.to_i %>"
    :previous-chapter="<%= previous_chapter(@chapter_number) %>"
    :next-chapter="<%= next_chapter(@chapter_number) %>"
  ></nav-buttons>
</div>

