<div class="topbar--primary flex flex-h-between gutters">
  <%= link_to root_path, title: site_title, class: 'topbar__site-link' do %>
    <%= image_tag 'logos/logo-protected-planet-digital-report.svg', alt: site_title + ' logo', class: "topbar__logo" %>
  <% end %>
  
  <div class="flex flex-v-center">
    <download 
      text="2018 printed report download" 
      event-element="Download report link - test"
      download-url="pdf/Protected_Planet_Report_2018.pdf"
    ></download>

    <%= render 'partials/social-sharing' %>
    <%= render 'partials/nav' %>
  </div>
</div>