@font-face {
  font-family: 'MuseoSans';
  src: font-url('MuseoSans-100.eot') format('oet'),
       font-url('MuseoSans-100.ttf') format('ttf'),
       font-url('MuseoSans-100.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: font-url('MuseoSans-300.eot') format('oet'),
       font-url('MuseoSans-300.ttf') format('ttf'),
       font-url('MuseoSans-300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: font-url('MuseoSans-500.eot') format('oet'),
       font-url('MuseoSans-500.ttf') format('ttf'),
       font-url('MuseoSans-500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: font-url('MuseoSans-700.eot') format('oet'),
       font-url('MuseoSans-700.ttf') format('ttf'),
       font-url('MuseoSans-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}