//--------------------------------------------------
// helpers
//--------------------------------------------------
// - fouc
// - font
// - lists
// - display
// - dimensions
// - positioning
// - margin & padding
// - backgrounds
// - user interaction
//
//--------------------------------------------------
// fouc (flash of unstyled content)
//--------------------------------------------------
[v-cloak] { display: none; }

//--------------------------------------------------
// font
//--------------------------------------------------
.light { font-weight: $light;}
.normal { font-weight: $normal; }
strong, .bold { font-weight: $bold; }
.fw-black { font-weight: $fw-black; }
.italic { font-style: italic; }
i { font-style: normal; }

.smallprint { 
  font-size: rem-calc(12);
  font-style: italic;
  margin-bottom: rem-calc(6);
  opacity: 0.5;
}

//--------------------------------------------------
// dimensions
//--------------------------------------------------
.w-100 { width: 100%; }
.h-100 { height: 100%; }

@mixin width-with-gutters {
  width: calc(100% - #{$gutter-small * 2});
  @include breakpoint($small) { width: calc(100% - #{$gutter-medium * 2}); }
  @include breakpoint($medium) { width: calc(100% - #{$gutter-large * 2}); }
}

//--------------------------------------------------
// lists
//--------------------------------------------------
.ul-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ul-inline li { display: inline-block; }

//--------------------------------------------------
// display
//--------------------------------------------------
.display-block { display: block; }
.display-inline { display: inline-block; }

//--------------------------------------------------
// positioning
//--------------------------------------------------
.center { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }

.center-margin { margin-left: auto; margin-right: auto; }

.relative { position: relative; }

//--------------------------------------------------
// margin & padding
//--------------------------------------------------
.no-margin { margin: 0; }
.margin-center { margin: 0 auto; }
.margin-space-left { margin-left: rem-calc(14); }
.margin-space-right { margin-right: rem-calc(14); }
 
//--------------------------------------------------
// backgrounds
//--------------------------------------------------
.bg-green-light { background-color: $green-light; }

@mixin background-overlay($background) {
  position: relative;
  z-index: 0;

  &:before {
    background: $background;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

// Background gradient mixin - takes two colours at present
@function background-gradient($orientation, $first-colour, $second-colour, $first-percent: 0%, $second-percent: 100%) {
  @return linear-gradient($orientation, $first-colour $first-percent, $second-colour $second-percent);
}

//--------------------------------------------------
// user interaction
//--------------------------------------------------
.no-select {
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

//--------------------------------------------------
// shapes
//--------------------------------------------------

@mixin triangle ($base, $height, $color, $direction:'up') {
  content: '';
  width: 0; 
  height: 0; 
  border-left: $base/2 solid transparent;
  border-right: $base/2 solid transparent;
  
  border-bottom: $height solid $color;

  display: block;

  @if ($direction == 'right') {
    transform: rotate(90deg);
  }
  @if ($direction == 'down') {
    transform: rotate(180deg);
  }
  @if ($direction == 'left') {
    transform: rotate(270deg);
  }
}