//--------------------------------------------------
// variables
//--------------------------------------------------
// - colours
// - fonts
// - dimensions
// - breakpoins
// - padding
//
//--------------------------------------------------
// colours
//--------------------------------------------------
$white: #ffffff;

$grey-light: #f4f4f4;
$grey: #7f7f7f;
$grey-dark: #343434;

$black: #000000;

$green: #71A32B;

$primary: $green;
$secondary: blue;

$accent: green;

//--------------------------------------------------
// fonts
//--------------------------------------------------
$font-roboto: 'Roboto', sans-serif;

$body-font: $font-roboto;
$body-font-color: $black;

$body-line-height: 1.4;

$light: 300;
$bold: 500;

$button-font-size-small: rem-calc(18);
$button-font-size-medium: rem-calc(18);

//--------------------------------------------------
// breakpoints
//--------------------------------------------------
// must be in px!
$small: 720px;
$medium: 960px;
$large: 1248px;

//--------------------------------------------------
// dimensions
//--------------------------------------------------
$site-width: rem-calc($large);

//--------------------------------------------------
// padding
//--------------------------------------------------
$gutter-small: rem-calc(15);
$gutter-medium: rem-calc(24);
$gutter-large: rem-calc(24);

$page-padding-top-small: rem-calc(14);
$page-padding-top-medium: rem-calc(26);
$page-padding-top-large: rem-calc(30);

$page-padding-bottom-small: rem-calc(32);
$page-padding-bottom-medium: rem-calc(60);
$page-padding-bottom-large: rem-calc(100);

$section-padding-top-small: rem-calc(20);
$section-padding-top-medium: rem-calc(50);
$section-padding-top-large: rem-calc(50);

$section-padding-bottom-small: rem-calc(30);
$section-padding-bottom-medium: rem-calc(60);
$section-padding-bottom-large: rem-calc(60);

//--------------------------------------------------
// style
//--------------------------------------------------
$radius-global: rem-calc(3);
$radius-button: 0;

//--------------------------------------------------
// topbar
//--------------------------------------------------
$topbarHeightSmall: rem-calc(47);
$topbarHeightMedium: rem-calc(60);
$topbarHeightLarge: rem-calc(93);
