//--------------------------------------------------
// variables
//--------------------------------------------------
// - colours
// - fonts
// - dimensions
// - breakpoins
// - padding
//
//--------------------------------------------------
// colours
//--------------------------------------------------
$white: #ffffff;

$grey-light: #f4f4f4;
$grey: #2A2A2A;
$grey-dark: #202020;

$black: #000000;

$green-light: #9DC37E;
$green: #71A32B;

$primary: $green;
$secondary: blue;

$chart-blue-light: #96D6E6;
$chart-blue: #03B0DA;
$chart-green-light: #BFD2A5;
$chart-green: #86BF37;
$chart-navy: #063251;
$chart-orange: #F5A623;
$chart-pink: #B64A9A;
$chart-purple: #662E8F;
$chart-teal: #227190;
$chart-yellow: #F8E71C;

$accent: green;

//--------------------------------------------------
// fonts
//--------------------------------------------------
$font-museo: 'MuseoSans', sans-serif;

$body-font: $font-museo;
$body-font-color: $black;

$body-line-height: 1.4;

$thin: 100;
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;
$fw-black: 900;

$button-font-size-small: rem-calc(18);
$button-font-size-medium: rem-calc(18);

//--------------------------------------------------
// breakpoints
//--------------------------------------------------
// must be in px!
$small: 720px;
$medium: 960px;
$large: 1248px;

//--------------------------------------------------
// dimensions
//--------------------------------------------------
$site-width: rem-calc($large);
$small-container: calc(#{$site-width} * .5);
$medium-container: calc(#{$site-width} * .83);

//--------------------------------------------------
// padding
//--------------------------------------------------
$gutter-small: rem-calc(15);
$gutter-medium: rem-calc(24);
$gutter-large: rem-calc(24);

$page-padding-top-small: rem-calc(14);
$page-padding-top-medium: rem-calc(26);
$page-padding-top-large: rem-calc(30);

$page-padding-bottom-small: rem-calc(32);
$page-padding-bottom-medium: rem-calc(60);
$page-padding-bottom-large: rem-calc(100);

$section-padding-top-small: rem-calc(20);
$section-padding-top-medium: rem-calc(50);
$section-padding-top-large: rem-calc(50);

$section-padding-bottom-small: rem-calc(30);
$section-padding-bottom-medium: rem-calc(60);
$section-padding-bottom-large: rem-calc(60);

//--------------------------------------------------
// style
//--------------------------------------------------
$radius-global: rem-calc(3);
$radius-button: 0;

//--------------------------------------------------
// topbar
//--------------------------------------------------
$topbarHeightSmall: rem-calc(47);
$topbarHeightMedium: rem-calc(60);
$topbarHeightLarge: rem-calc(93);
