//--------------------------------------------------
// carousel
//--------------------------------------------------
.carousel {
  
//--------------------------------------------------
// fixed
//--------------------------------------------------
  &--fixed {
    color: $white;
    background-color: rgba($black, 0.8);
    width: 100%; height: 100vh;

    position: relative;

    .carousel {
      &__nav {
        position: absolute;
        top: 50%;
        right: rem-calc(30);

        transform: translateY(-50%);
      }

        &__nav-item {
          color: $white;
          font-size: rem-calc(20);
          font-weight: $light;
          padding-bottom: 26px;

          position: relative;

          &.active {
            font-weight: $normal;

            .carousel__nav-text { display: inline-block; }

            .carousel__nav-button {
              background-color: $green;
              color: $grey-dark;
              font-weight: $bold;

              &:before { 
                transform: scale(1.5);
              }
            }
          }

          &::after {
            background-color: $grey;
            content: '';
            width: rem-calc(3); height: rem-calc(26);

            position: absolute;
            bottom: 0;
            left: 50%;

            transform: translateX(-50%);
          }

          &:last-child::after {
            content: none;
          }
        }

          &__nav-text { 
            font-weight: $light;
            padding-right: rem-calc(30);
            text-align: right;
            width: rem-calc(260);

            display: none; 
            position: absolute;
            top: rem-calc(4);
            left: rem-calc(-250);
          }

          &__nav-button {
            background-color: $grey;
            border: none;
            border-radius: 100%;
            color: inherit;
            cursor: pointer;
            font-size: inherit;
            font-weight: inherit;
            outline: none;
            padding-top: rem-calc(5);
            width: rem-calc(31); height: rem-calc(31);

            position: relative;

            &:before {
              background-color: $grey;
              border-radius: 100%;
              content: ''; 
              width: rem-calc(31); height: rem-calc(31);

              display: block;

              position: absolute;
              top: 0;
              left: 0;
              z-index: -1;
              
              transform-origin: center center;
              transition: transform .3s ease-in-out;
            }
          }

      &__slide {
        @extend .gutters;
        font-size: rem-calc(20);
        font-weight: $light;
        width: 100%;
        max-width: $site-width;

        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
      }

        &__title {
          width: 50%;
        }

        &__subtitle { margin: rem-calc(0 0 8 2); }

        &__intro {
          width: 50%;
        }
    }
  }
}