// Background image population of cards - may need a unique fourth picture in the event of four case studies
$card-images: ('tropical_2x.png', 'waterfall_2x.png', 'koi_2x.png', 'tropical_2x.png');

// Background gradient mixin - takes two colours at present
@function background-gradient($orientation, $first-colour, $second-colour, $first-percent: 0%, $second-percent: 100%) {
  @return linear-gradient($orientation, $first-colour $first-percent, $second-colour $second-percent);
}

// Mixin applying background image - takes an optional gradient argument
@mixin background-image($images, $gradient: '') {
  @for $i from 1 through length($images) { 
    &:nth-child(#{$i}) {
      div:nth-of-type(1) {
        $image: nth($images, $i);
  
        background: $gradient, image-url("cards/#{$image}");
        background-position: center;
        background-size: cover;
      }
    } 
  }
}

// Styles
.cards {
  &--case-studies {
    margin-top: rem-calc(42);
    margin-bottom: rem-calc(55);

    .cards {
      &__cards { 
        @include flex; 
        @include flex-h-between; 
        @include flex-wrap; 

        .card--case-study {
          @include background-image($card-images, background-gradient(270deg, rgba($white, 0.1), rgba($black, 0.4)));

          &:hover {
            @include background-image($card-images, background-gradient(270deg, rgba($white, 0.1), $black));
          }

          &:nth-child(3n) { 
            flex-grow: 1; 
      
            @include breakpoint($medium) { padding-right: 60%; };
          }
      
        }
      }
    }
  }
}