//--------------------------------------------------
// chart
//--------------------------------------------------
.chart {

//--------------------------------------------------
// chart legend
//--------------------------------------------------
  &--legend {
    margin-top: rem-calc(26);

    .chart {
      &__legend-item {
        .chart__legend-key { background-color: $chart-purple; }
        
        &:first-child  { .chart__legend-key { margin-left: 0; } }
        &:nth-child(2) { .chart__legend-key { background-color: $chart-yellow; } }
        &:nth-child(3) { .chart__legend-key { background-color: $chart-green; } }
        &:nth-child(4) { .chart__legend-key { background-color: $chart-blue; } }
      }

        &__legend-key {
          border-radius: rem-calc(2);
          margin-right: rem-calc(10);
          margin-left: rem-calc(18);
          width: rem-calc(28); height: rem-calc(28);

          display: block;

          transform: translateY(-2px);
        }

        &__legend-text {
          margin-right: rem-calc(6);
          display: inline-block;
        }
    }
  }

//--------------------------------------------------
// area chart
//--------------------------------------------------
  &--area {
    margin-bottom: rem-calc(20);

    .chart {
      &__chart {}

        &__dataset {
          position: relative;

          &:first-child { 
            .chart__bar { 
              border-top-left-radius: rem-calc(2); 
              border-bottom-left-radius: rem-calc(2); 
            }
          }

          &:last-child { 
            .chart__bar { 
              border-top-right-radius: rem-calc(2); 
              border-bottom-right-radius: rem-calc(2); 
            }
          }
        }

          &__bar {
            position: relative;

            &-land { background-color: $chart-green; }
            &-marine { 
              background-color: $chart-blue; 
              border-right: solid $white 1px;
            }
            &-pa { 
              background-color: $chart-navy; 

              position: absolute;
              top: rem-calc(20);
              left: rem-calc(20);
            }
          }

          &__label {
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);
          }

      &__legend-item {
        &:first-child {
          .chart__legend-key { background-color: $chart-navy; }
        }
      }
    }
  }

//--------------------------------------------------
// column chart
//--------------------------------------------------
  &--column {
    .chart {
      &__chart {
        height: rem-calc(390);
      }

        &__column {
          &:nth-child(2) { .chart__bar { background-color: $chart-yellow; }}
          &:nth-child(3) { .chart__bar { background-color: $chart-orange; }}
          &:nth-child(4) { .chart__bar { background-color: $chart-blue; }}
          &:nth-child(5) { .chart__bar { background-color: $chart-pink; }}
          &:nth-child(6) { .chart__bar { background-color: $chart-green; }}
          &:nth-child(7) { .chart__bar { background-color: $chart-teal; }}
        }

          &__bar {
            background-color: $chart-purple;
            width: 100%;

            display: block;
          }
    }
  }

//--------------------------------------------------
// column chart
//--------------------------------------------------
  &--doughnut {
    .chart {
      &__chart{
        width: 67%;
      }

      &__segment {
        cursor: pointer;

        transition: transform ease .1s;

        &:hover { 
          transform: scale(1.015, 1.015);
        }

        &.active {
          transform: scale(1.15, 1.15);

          .chart__segment-text { font-weight: bold; }
        }
      }

        &__segment-path { 
          stroke-width: 4;
        }

      &__side {
        margin-top: rem-calc(48);
        width: 33%;
      }

        &__panel {
          border-radius: 2px;
          color: $white;
          margin-bottom: rem-calc(18);
          padding: rem-calc(52 36);

          height: 80%;

          transition: background-color ease .1s;
        }

          &__smallprint {
            font-size: rem-calc(14);
            font-style: italic;
            font-weight: $medium;
          }
    }
  }
  
//--------------------------------------------------
// row chart
//--------------------------------------------------
  &--row {
    width: 48%;

    .chart {
      &__chart {

      }

        &__row {
          border: solid rem-calc(1) $grey;
          width: 100%; height: rem-calc(64);

          position: relative;
        }

          &__bar {
            background-color: $green;

            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
          }

          &__percent {}

          &__label {

          }
    }
  }

//--------------------------------------------------
// stacked row chart
//--------------------------------------------------
  &--row-stacked {
    .chart {
      &__chart {
        width: 100%; height: rem-calc(86);
      }

        &__bar {
          background-color: $chart-purple;

          height: 100%;

          &:nth-child(2) { background-color: $chart-yellow; }
          &:nth-child(3) { background-color: $chart-green; }
          &:nth-child(4) { background-color: $chart-blue; }
        }

        &__percent {}

        &__label {}
    }
  }
}