//--------------------------------------------------
// map mixins
//--------------------------------------------------
@mixin layer-percentage {
  font-weight: $bold;
  margin-right: rem-calc(12);

  display: inline-block;
  position: relative;
}

@mixin layer-button($border-width) {
  background-color: $grey;
  border: solid #{$border-width} $white;
  border-radius: 100%;
  margin-right: rem-calc(14);

  display: block;
  position: absolute;
  top: 50%;
  right: 100%;

  transform: translateY(-50%);

  &::after {
    background-color: $green;
    border: solid #{$border-width} $white;
    border-radius: 100%;
    content: '';

    display: block;
    position: absolute;

    transform: scale(0);
    transition: transform .2s ease-in-out;
  }
}

//--------------------------------------------------
// map
//--------------------------------------------------
.map {
  &--image { max-width: 100%; }

//--------------------------------------------------
// infographic map
//--------------------------------------------------
  &--infographic {
    height: rem-calc(180);

    @include breakpoint($small) { height: rem-calc(300); }
    @include breakpoint($medium) { height: rem-calc(480); }
  }

//--------------------------------------------------
// statistics map
//--------------------------------------------------
  &--statistics {
    position: relative;

    .map {
      &__map {
        width: 100%; height: rem-calc(210);

        @include breakpoint($small) { height: rem-calc(400); }
        @include breakpoint($medium) { height: rem-calc(668); }
      }

      &__panel {
        background-color: $grey-xdark;
        color: $white;
        padding-top: rem-calc(18);
        padding-bottom: rem-calc(16);

        @include breakpoint($medium) { 
          width: rem-calc(440); 

          position: absolute;
          top: calc(668px * .5);
          right: 0;

          transform: translateY(-50%);
        }
      }

        &__panel-toggle {
          cursor: pointer;

          &.active { 
            .map__panel-layer-button::after,
            .map__panel-sublayer-button::after { 
              transform: scale(1);
            } 
          }
        }

          &__panel-layer {
            background-color: $grey;
            font-size: rem-calc(14);
            margin-bottom: rem-calc(8);
            padding: rem-calc(16 14 16 8);

            @include breakpoint($small) { font-size: rem-calc(18); }
          } 

          &__panel-sublayer {
            cursor: pointer;
            margin-top: rem-calc(12);
          }

            &__panel-layer-title {
              width: 70%;
            }

            &__panel-layer-stat {
              align-self: flex-start;
              text-align: right;
              width: 50%;
              
              @include breakpoint($small) { 
                align-self: center;
                width: rem-calc(170); 
              }

              @include breakpoint($medium) { 
                align-self: flex-start;
                width: rem-calc(220); 
              }
            }
            
            &__panel-layer-button {
              @include layer-button(2px);
              width: rem-calc(30); height: rem-calc(30);
              
              &::after {
                width: rem-calc(16); height: rem-calc(16);

                top: rem-calc(3);
                left: rem-calc(3);
              }
            }

            &__panel-layer-percentage {
              @include layer-percentage;
              font-size: rem-calc(20);

              @include breakpoint($small) { font-size: rem-calc(40); }
            }

            &__panel-sublayer-button {
              @include layer-button(1px);
              width: rem-calc(22); height: rem-calc(22);
              
              &::after {
                width: rem-calc(14); height: rem-calc(14);

                top: rem-calc(2);
                left: rem-calc(2);
              }
            }

            &__panel-sublayer-percentage {
              @include layer-percentage;
              font-size: rem-calc(15);

              @include breakpoint($small) { font-size: rem-calc(30); }
            }

          &__source {
            font-size: rem-calc(14);
            font-style: italic;

            @include breakpoint($small) { font-size: rem-calc(18); }
          }      
    }
  }
}