//--------------------------------------------------
// classes
//--------------------------------------------------
.modal-wrapper {
  display: none;

  &--active { 
    display: block; 
  }
}

.modal-overlay {
  background-color: rgba($grey, .8);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
}

.modal--case-study {
  background-color: white;
  padding: rem-calc(34 32);
  width: 100%; height: 100vh;
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  @include breakpoint($small) {
    border-radius: $radius-global;
    padding: rem-calc(89 18 0 118);
    width: 67%; height: 90vh;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }

  .modal__content {
    color: black;
    height: 100%;
    padding-right: rem-calc(92);

    position: relative;

    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: rem-calc(8);
    }
  
    &::-webkit-scrollbar-thumb {
      background: $grey-dark;
      border-radius: $radius-global;
    }
    
      .modal__close {
        border: none;
        background-color: transparent;
        color: none;
    
        position: absolute;
        top: rem-calc(-70);
        right: rem-calc(-100);
      }
    
      .modal__report {
        color: rgba($grey, 0.8);
        font-weight: $bold;

        margin-top: rem-calc(10);
      }
    
      .modal__title { 
        font-weight: $bold;
        margin-top: 0; 
      }
  }
}