@mixin beautify-scrollbar($width: 9) {
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-button {
    width: rem-calc($width);
    height: rem-calc($width);
  }
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track {
    background-clip: padding-box;
    border-radius: rem-calc($width);
  }
  &::-webkit-scrollbar-thumb {
    background: $grey-dark;
    &:hover {
      background: $grey-dark;
    }
    &:active {
      background-color: $white;
    }
  }
  &::-webkit-scrollbar-track {
    background-color: $grey-xlight; 
    &:hover {
      background-color: $grey-xlight; 
    }
  }
  &::-webkit-scrollbar-corner {
      background: transparent;
  }
}

//--------------------------------------------------
// classes
//--------------------------------------------------
.modal-wrapper {
  display: none;
  
  &--active { 
    @include flex;
    @include flex-h-center;
    @include flex-v-center;
    background-color: rgba($grey, .8);
  
    height: 100vh; width: 100%;
  
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
  }
}

.modal--case-study {
  background-color: white;
  padding: rem-calc(34 32);
  width: 100%; height: 100vh;
  
  position: relative;
  z-index: 5;

  @include breakpoint($small) {
    border-radius: $radius-global;
    padding: rem-calc(89 18 0 118);
    width: 67%; height: 90vh;
  }

  .modal__close {
    border: none;
    background-color: transparent;
    color: none;

    position: absolute;
    top: rem-calc(22);
    right: rem-calc(21);
  }

  .modal__content {
    @include beautify-scrollbar();
    color: black;
    height: 100%;
    padding-right: rem-calc(92);

    position: relative;

    overflow-y: scroll;

    .modal__report {
      color: rgba($grey, 0.8);
      font-weight: $bold;

      margin-top: rem-calc(10);
    }
  
    .modal__title { 
      font-weight: $bold;
      margin-top: 0; 
    }
  }
}