.multilingual {
  background-color: $grey-xdark;
  min-height: rem-calc(630);
  width: rem-calc(768);

  @include breakpoint($small) {
    min-height: rem-calc(650);
  }

  &__top-section {
    @include flex;
    @include flex-h-between;
  }

  &__text {

  }
}