//--------------------------------------------------
// nav
//--------------------------------------------------
.nav {

//--------------------------------------------------
// burger nav 
//--------------------------------------------------
  &--burger {
  
    .nav {
      &__burger {
        display: block;

        @include breakpoint($medium) { display: none; }
      }

      &__pane {
        width: 100%;

        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 2000;

        transform: translateX(-100%);

        transition: transform .4s ease-in-out;

        @include breakpoint($medium) { 
          width: auto;

          position: initial;

          transform: initial;
          transition: initial;
        }

        &--active { transform: translateX(0); }
      }
    
        &__close {
          @include breakpoint($medium) { display: none; }
        }

        &__li {}

          &__a {
            &.nav--active { font-weight: bold; }
          }
    }
  }
}