//--------------------------------------------------
// nav
//--------------------------------------------------
.nav {

//--------------------------------------------------
// burger nav 
//--------------------------------------------------
  &--burger {
  
    .nav {
      &__burger {
        display: block;
      }

      &__pane {
        background-color: $black;
        overflow-y: scroll;
        width: 100%;

        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 2000;

        transform: translateX(100%);

        transition: transform .3s ease-in-out;

        @include breakpoint($medium) { 
          padding: rem-calc(118 36 45 50);
          width: auto;
        }

        &.active { transform: translateX(0); }
      }
    
        &__close {
          
        }

        &__ul { }

          &__li { margin-bottom: rem-calc(60); }

            &__a {
              color: $white;
              .nav--active & { font-weight: bold; }
            }
    }
  }
}