$pagination-height-sm: rem-calc(50);
$pagination-height-lg: rem-calc(74);

//--------------------------------------------------
// pagination
//--------------------------------------------------
.pagination {
  @include flex;
  @include flex-v-center;
  background-color: rgba($black, 0.8);
  color: $white;
  height: $pagination-height-sm;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: -$pagination-height-sm;
  transition: bottom 0.7s;
  
  @include breakpoint($small) { 
    height: $pagination-height-lg;
    bottom: -$pagination-height-lg;
    transition: bottom 0.4s;
  }

  // Dynamic class
  &.show {
    bottom: 0;
  }

  &__panel {
    @include flex;
    @include flex-h-between;
    @include flex-v-center;
    width: 100%;
  }

  &__next, &__previous {
    @include flex;
    @include flex-v-center;
  }

  &__next {
    margin-right: rem-calc(13);

    &:nth-child(2) {
      text-align: right;
    }
  }
  
  &__previous {
    margin-left: rem-calc(13);

    &:nth-child(2) {
      text-align: left;
    }
  }

  &__text {
    font-size: rem-calc(18);
    margin-right: rem-calc(10);
    margin-bottom: 0;
    margin-left: rem-calc(10);

    @include breakpoint($small) { 
      font-size: rem-calc(18);
      min-width: rem-calc(200);
      max-width: rem-calc(400);
    }
    @include breakpoint($medium) {
      min-width: rem-calc(400);
      max-width: 40vw;
    }
  }
}