//--------------------------------------------------
// tabs
//--------------------------------------------------
.tabs {
  &__triggers {
    @include flex;
    @include width-with-gutters;
    margin-top: rem-calc(20);
    margin-bottom: rem-calc(15);
    overflow-x: scroll;
    
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  }

  &__splitter {
    @include width-with-gutters;
    opacity: 0.2;
  }
}

//--------------------------------------------------
// tab
//--------------------------------------------------
.tab {
  &__trigger {
    background-color: transparent;
    border: 1px solid rgba($grey-light, 0.4);
    border-radius: rem-calc(20);
    color: $white;
    cursor: pointer;
    font-family: $body-font;
    font-size: rem-calc(20);
    margin-right: rem-calc(10);
    padding: rem-calc(1 17);

    &.tab--active { background-color: $green; }
  }

  &__title { cursor: pointer; }
}