<div class="content--x-large">
  <%= @data['achi_target'] %>
  <p class="content__text"><%= @data['achi_text'].html_safe %></p>
</div>

<%= render partial: '/partials/cta', locals: { title: @data['cta_title'], text: @data['cta_text'], url: @data['cta_url'] } %>