<div class="container">
  <h2></h2>
  
  <% @stacked_row_charts[:charts].each do |chart| %>
    <chart-row-stacked title="<%= chart[:chart_title] %>" :rows="<%= chart[:rows].to_json %>"></chart-row-stacked>
  <% end %>

  <chart-legend :rows="<%= @stacked_row_charts[:legend].to_json %>"></chart-legend>

  <h2></h2>
  
  <!-- <chart-column :rows="<%#= chart[:rows].to_json %>"></chart-column> -->
</div>

<% @data['ctas'].each do |cta| %>
  <%= render partial: '/partials/cta', locals: { title: cta['cta_title'], text: cta['cta_text'], url: cta['cta_url'] } %>
<% end %>