<section class="section-padding">
  
  <%= render partial: 'partials/component-title', locals: { title: @data['map_title'] } %>

  <div class="container--medium">
    <h1>MAP</h1>
  </div>
</section>

<section class="section-padding">
  
  <%= render partial: 'partials/component-title', locals: { title: @data['static_map_title'] } %>

  <div class="container--medium">
    <h1>MAP</h1>
  </div>
</section>

<%= render partial: '/partials/cta', locals: { title: @data['cta_title'], text: @data['cta_text'], url: @data['cta_url'] } %>