<section class="section-padding">
  <div class="container--small">
    <p><%= @data['content'] %></p>
  </div>
</section>

<section class="section-padding">
  
  <%= render partial: 'partials/component-title', locals: { title: @data['map_title'] } %>

  <div class="container--medium">
    <h1>MAP</h1>
  </div>
</section>

<% @data['ctas'].each do |cta| %>
  <%= render partial: '/partials/cta', locals: { title: cta['cta_title'], text: cta['cta_text'], url: cta['cta_url'] } %>
<% end %>

