.aichi-target {
  @include flex;
  @include flex-wrap;
  background-color: $grey-xlight;
  padding: rem-calc(20 24);

  @include breakpoint($small) {
    padding: rem-calc(24 50);
  }

  .box__text {
    font-size: rem-calc(14);

    @include breakpoint($small) {
      font-size: rem-calc(16);
      width: 40%;
      
      align-self: center;
    }
  }

  .box__charts {
    text-align: center;

    @include breakpoint($small) {
      margin-left: auto;
      width: 60%;
    }

    @include breakpoint($medium) {
      width: 50%;
    }
  }

  .box__chart {
    margin: rem-calc(20 0);
    text-align: left;
    height: rem-calc(206);

    @include breakpoint($small) {
      padding: rem-calc(0 10);
      width: 49%;

      display: inline-block;
    }

    &:first-child {
      @include breakpoint-down($small) { margin-bottom: rem-calc(60); }
    }
  }
}

