//--------------------------------------------------
// buttons mixins
//--------------------------------------------------
@mixin button-cta {
  background-color: $primary;
  color: $black;
  font-size: rem-calc(20);
  font-weight: $normal;
  line-height: 1;
  padding: rem-calc(17 27);
  text-decoration: none;

  display: inline-block;

  @include breakpoint($small) {
    font-size: rem-calc(25);
    padding: rem-calc(19 31);
  }

  &::after {
    content: '';
    margin-left: rem-calc(10);

    display: inline-block;
  }
}

@mixin button-nav($image) {
  background-image: image-url($image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  display: inline-block;

  &:hover { opacity: .75; } 

  height: rem-calc(9);
  width: rem-calc(5);

  @include breakpoint($small) {
    height: rem-calc(14);
    width: rem-calc(8);
  }
}


//--------------------------------------------------
// buttons
//--------------------------------------------------
.button {
  
//--------------------------------------------------
// styles
//--------------------------------------------------
  &--cta {
    @include button-cta;

    &::after {
      background-image: image-url('icons/arrow-right.svg');
      width: rem-calc(20); height: rem-calc(14);

      transform: translateY(1px);
    }
  }

  &--cta-external {
    @include button-cta;

    &::after {
      background-image: image-url('icons/external-link.svg');
      width: rem-calc(23); height: rem-calc(23);

      transform: translateY(3px);
    }
  }

  &--download {
    @extend .flex;
    @extend .flex-v-center;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: inherit;
    font-weight: $light;
    text-align: left;
    text-decoration: none;

    &__text { 
      display: none;
      
      @include breakpoint($medium) {
        margin-left: rem-calc(12);
        width: rem-calc(124);

        display: block;
      }
    }
  }

  &--link {
    color: $white;
    font-weight: $medium;
  }

  &--previous {
    @include button-nav('icons/previous.svg');
 
  }

  &--next {
    @include button-nav('icons/next.svg');
  }

  &--reset {
    cursor: pointer;
    margin: 0;
    padding: 0;
    font: inherit;
  }

  //--------------------------------------------------
  // margin
  //--------------------------------------------------
  &-margin-bottom {
    margin-bottom: rem-calc(14);

    @include breakpoint($small) { margin-bottom: rem-calc(30); }
  }

  &-margin-top {
    margin-bottom: rem-calc(14);

    @include breakpoint($small) { margin-bottom: rem-calc(30); }
  }

  &-margin {
    @extend .button-margin-top;
    @extend .button-margin-bottom;
  }
}