//--------------------------------------------------
// buttons mixins
//--------------------------------------------------
@mixin button-cta {
  background-color: $primary;
  color: $black;
  font-size: rem-calc(20);
  font-weight: $normal;
  line-height: 1;
  padding: rem-calc(17 27);
  text-decoration: none;

  display: inline-block;

  @include breakpoint($small) {
    font-size: rem-calc(25);
    padding: rem-calc(19 31);
  }

  &::after {
    content: '';
    margin-left: rem-calc(10);

    display: inline-block;
  }
}

@mixin button-nav($image) {
  background-image: image-url($image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  display: inline-block;

  &:hover { opacity: .75; } 

  height: rem-calc(24);
  width: rem-calc(24);

  @include breakpoint($small) {
    height: rem-calc(40);
    width: rem-calc(40);
  }
}


//--------------------------------------------------
// buttons
//--------------------------------------------------
.button {
  
//--------------------------------------------------
// styles
//--------------------------------------------------
  &--cta {
    @include button-cta;

    &::after {
      background-image: image-url('icons/arrow-right.svg');
      width: rem-calc(20); height: rem-calc(14);

      transform: translateY(1px);
    }
  }

  &--download {
    @extend .flex;
    @extend .flex-v-center;
    @extend .flex-h-between;
    background-color: $green;
    border: 1px solid $green;
    border-radius: 2px;
    color: $black;
    cursor: pointer;
    font-size: $button-font-size-small;
    font-weight: $light;
    text-align: left;
    text-decoration: none;
    padding: rem-calc(8);
    margin-right: rem-calc(19);
    
    @include breakpoint($small) {
      padding: rem-calc(10 16);
    }

    &__text { 
      display: none;
      
      @include breakpoint($medium) {
        width: rem-calc(150);

        display: block;
      }
    }
  }

  &--external {
    color: $body-font-color;
    
    &:after {
      background-image: image-url('icons/chevron-circle-right.svg');
      content: '';
      margin-left: rem-calc(10);
      width: rem-calc(24); height: rem-calc(24);
      
      display: inline-block;
      
      transform: translateY(7px);
    }
  }

  &--link {
    color: $white;
    font-weight: $medium;
  }

  &--previous {
    @include button-nav('icons/previous.svg');
  }

  &--next {
    @include button-nav('icons/next.svg');
  }

  &--reset {
    cursor: pointer;
    margin: 0;
    padding: 0;
    font: inherit;
  }

  &--share {
    appearance: none;
    border: none;
    background-color: transparent;
  }

  //--------------------------------------------------
  // margin
  //--------------------------------------------------
  &-margin-bottom {
    margin-bottom: rem-calc(14);

    @include breakpoint($small) { margin-bottom: rem-calc(30); }
  }

  &-margin-top {
    margin-bottom: rem-calc(14);

    @include breakpoint($small) { margin-bottom: rem-calc(30); }
  }

  &-margin {
    @extend .button-margin-top;
    @extend .button-margin-bottom;
  }
}