//--------------------------------------------------
// content
//--------------------------------------------------
.content {

//--------------------------------------------------
// extra-large
//--------------------------------------------------
  &--x-large {
    background-color: $white;
    overflow: hidden;
    padding-top: rem-calc(37);
    padding-bottom: rem-calc(28);
    text-align: center; //done this wasy for ie11
  
    position: relative;
    z-index: 1;

    @include breakpoint($small) { padding: rem-calc(40 0 60 0); }
    @include breakpoint($medium) { 
      padding-top: rem-calc(73);
      padding-top: rem-calc(77);
    }

    .content {
      &__icon {
        margin-bottom: rem-calc(30);
        width: rem-calc(60); height: rem-calc(60);

        @include breakpoint($small) { 
          width: rem-calc(83); height: rem-calc(83); 
        }

        @include breakpoint($medium) { 
          width: rem-calc(83); 
          height: rem-calc(83); 
          margin-bottom: rem-calc(33);
        }
      }

      &__text {
        border-left: 4px solid $grey-light;
        color: $black;
        font-weight: $normal;
        font-size: rem-calc(20); 
        line-height: 1.7;
        padding-left: rem-calc(17);
        text-align: left;
        width: 100%; // for ie11

        z-index: 1;

        @include breakpoint($small) { 
          line-height: 1.4;
        }

        @include breakpoint($medium) { 
          font-size: rem-calc(25); 
          padding-left: rem-calc(30);
        }
      }

      &__background {
        color: $grey-dark;
        font-size: rem-calc(200);
        font-weight: $fw-black;
        line-height: 0.9;
        margin: 0;
        width: 62%;

        position: absolute;
        top: rem-calc(60);
        right: -30%;
        z-index: -1;
      }
    }
  }

//--------------------------------------------------
// next steps
//--------------------------------------------------
  &--next-steps {
    background-color: $grey-xdark;
    color: $white;
    padding: rem-calc(50 0 40 0);

    @include breakpoint($small) { padding: rem-calc(90 0 80 0); }
    @include breakpoint($medium) { padding: rem-calc(130 0 120 0); }

    .content {
      &__title {
        font-size: rem-calc(40);
        font-weight: $bold;
        
        @include breakpoint($small) { font-size: rem-calc(70); }

        @include breakpoint($medium) { 
          font-size: rem-calc(100); 
          width: 80%;
        }
      }

      &__text {
        line-height: 1.6;
        margin: 0 auto;
        
        @include breakpoint($small) { font-size: rem-calc(18); }
        
        @include breakpoint($medium) { 
          font-size: rem-calc(20); 
          width: 50%;
        }
      }
    }
  }
}