//--------------------------------------------------
// content
//--------------------------------------------------
.content {

//--------------------------------------------------
// extra-large
//--------------------------------------------------
  &--x-large {
    background-color: $grey-dark;
    color: $grey;
    font-size: rem-calc(300);

    position: relative;

    .content {
      &__text {
        color: $white;
        font-size: rem-calc(40);
        margin: 0 auto;
        width: 100%;
        max-width: rem-calc(1000);

        position: absolute;
        top: 0;
        left: 50%;

        transform: translateX(-50%);
      }
    }
  }

//--------------------------------------------------
// next steps
//--------------------------------------------------
  &--next-steps {
    background-color: $grey-dark;
    color: $white;

    @include breakpoint($medium) { padding: rem-calc(130 0 120 0); }

    .content {
      &__title {
        font-size: rem-calc(100);
      }

      &__text {
        font-size: rem-calc(20);
        margin: 0 auto;
        width: rem-calc(590);
      }
    }
  }
}