//--------------------------------------------------
// cta
//--------------------------------------------------
.cta {

//--------------------------------------------------
// protected planet cta
//--------------------------------------------------
  &--protected-planet {
    @include breakpoint($small) {
      height: rem-calc(386);
    }

    .cta {
      &__container {
        @include breakpoint($small) {
          height: 100%;
          
          position: relative;
        }
      }
        &__content {
          @include breakpoint($small) { 
            width: 50%;

            position: absolute;
            top: 50%;

            transform: translateY(-50%);
          }
        }

        &__link {
          @include breakpoint($small) { 
            position: absolute;
            top: 50%;
            right: 0;

            transform: translateY(-50%);
          }
        }
      }
  }
}