//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin hero-animation($delay: 0s) {
  opacity: 0;

  animation: fadeIn 1.5s $delay ease-in-out forwards;
}

@mixin hero-basic {
  background-color: $black;
  color: $white; 
}

@mixin hero-content {
  @include background-overlay($black-gradient);
}

@mixin hero-image {
  overflow: hidden;
  
  &::after {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;

    animation: zoomOut 2.5s ease-out;

    @include portrait { background-attachment: scroll; }
  }
}

@mixin hero-image-chapter {
  &::after {
    .chapter-1 & { background-image: $chapter-image-1; }
    .chapter-2 & { background-image: $chapter-image-2; }
    .chapter-3 & { background-image: $chapter-image-3; }
    .chapter-4 & { background-image: $chapter-image-4; }
    .chapter-5 & { background-image: $chapter-image-5; }
    .chapter-6 & { background-image: $chapter-image-6; }
    .chapter-7 & { background-image: $chapter-image-7; }
    .chapter-8 & { background-image: $chapter-image-8; }
    .chapter-9 & { background-image: $chapter-image-9; }
    .chapter-10 & { background-image: $chapter-image-10; }
    .chapter-11 & { background-image: $chapter-image-11; }
  }
}

//--------------------------------------------------
// classes
//--------------------------------------------------
.hero {
//--------------------------------------------------
// home page hero
//--------------------------------------------------
  &--home {
    @include hero-basic;

    position: relative;

    .hero {
      &__content {
        @include hero-content;
        @include hero-image;
        padding-top: rem-calc(32);
        padding-bottom: rem-calc(20);

        @include breakpoint($small) { 
          padding-top: 10vh;
          min-height: calc(100vh - #{$topbar-height-large});
        }
      }

      &__subtitle {
        @include hero-animation(.5s);
        font-size: rem-calc(20);
        font-weight: $bold;
        line-height: 1.4;
        margin-bottom: rem-calc(14);
        opacity: 0;

        @include breakpoint($medium) { 
          font-size: rem-calc(25); 
          padding-right: 34%;
        }
      }

      &__title { 
        @include hero-animation;
      }
      
      &__intro {
        @include hero-animation(1s);
        font-size: rem-calc(16);
        font-weight: $light;
        line-height: 1.5;
        opacity: 0;

        @include breakpoint($small) { font-size: rem-calc(20); }
        @include breakpoint($medium) { padding-right: 34%; }
      }

      &__dates {
        font-size: rem-calc(14);
        margin: rem-calc(60 0 0 $gutter-small);

        @include breakpoint($small) { 
          font-size: rem-calc(20);
          
          position: absolute;
          bottom: rem-calc(26); 
          left: $gutter-medium; 
        }
        @include breakpoint($medium) { left: $gutter-large; }
      }

      &__date {
        margin-bottom: 20%;

        @include breakpoint($small) {
          margin: 0;
        }
      }

      &__icon {
        position: absolute;
        bottom: rem-calc(22);
        left: 50%;

        transform: translateX(-50%);

        @include breakpoint($small) {
          bottom: rem-calc(44);
        }
      }

      &__video {
        display: none; 
        
        @include breakpoint($medium) {
          object-fit: cover;
          width: 100vw; height: 100vh;
          
          display: block; 
          position: absolute;
          top: 0;
          left: 0;
          z-index: -2;
        }
      }
    }
  }

//--------------------------------------------------
// chapter hero
//--------------------------------------------------
  &--chapter {
    @include hero-basic;

    .hero {
      &__content {
        @include hero-content;
        @include hero-image;
        @include hero-image-chapter;

        padding-top: rem-calc(22);

        @include breakpoint($small) { padding-top: rem-calc(32); }

        @include breakpoint($medium) { 
          min-height: rem-calc(422);

          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }

      &__intro {
        @include hero-animation(1s);
        font-size: rem-calc(16);
        font-weight: $light; 
        line-height: 1.3;
        margin-top: rem-calc(20);
        margin-bottom: rem-calc(36);

        @include breakpoint($small) { 
          font-size: rem-calc(18); 
          width: 85%; 
        }

        @include breakpoint($medium) { 
          margin-top: rem-calc(20);
          width: 50%; 
        }
      }

      &__subtitle { 
        @include hero-animation;
        font-size: rem-calc(14); 
        font-weight: $light;
      }

      &__title {
        @include hero-animation(.5s);
        font-size: rem-calc(32);
        font-weight: $bold;

        @include breakpoint($small) {
          font-size: rem-calc(40);
          width: 50%;
        }
      }

      &__date {
        @include hero-animation(1.5s);
        font-size: rem-calc(14);
        margin: 0;
        padding-bottom: rem-calc(30);

        @include breakpoint($small) {
          font-size: rem-calc(16);
        }
      }
    }
  }
}