//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin hero-basic {
  @include background-overlay($black-gradient);
  background-color: $black;
  color: $white;

  z-index: 2;

  @include breakpoint($medium) {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }  
}

@mixin hero-animation($delay: 0s) {
  opacity: 0;

  animation: fadeIn 1.5s $delay ease-in-out forwards;
}

//--------------------------------------------------
// classes
//--------------------------------------------------
.hero {
//--------------------------------------------------
// home page hero
//--------------------------------------------------
  &--home {
    @include hero-basic;
    padding-bottom: rem-calc(20);
    
    @include breakpoint($small) { 
      min-height: 100vh; 
    }

    .hero {
      &__content {
        margin-top: rem-calc(22);

        @include breakpoint($small) { margin-top: rem-calc(32); }

        @include breakpoint($medium) { 
          margin-top: 0;
          margin-bottom: auto;
        }
      }

      &__subtitle {
        @include hero-animation(.5s);
        font-size: rem-calc(20);
        font-weight: $bold;
        line-height: 1.4;
        margin-bottom: rem-calc(14);
        opacity: 0;

        @include breakpoint($medium) { 
          font-size: rem-calc(25); 
          padding-right: 34%;
        }
      }

      &__title { 
        @include hero-animation;
      }
      
      &__intro {
        @include hero-animation(1s);
        font-size: rem-calc(16);
        font-weight: $light;
        line-height: 1.5;
        opacity: 0;

        @include breakpoint($small) { font-size: rem-calc(20); }
        @include breakpoint($medium) { padding-right: 34%; }
      }

      &__dates {
        font-size: rem-calc(14);
        margin: rem-calc(60 0 0 $gutter-small);

        @include breakpoint($small) { 
          font-size: rem-calc(20);
          
          position: absolute;
          bottom: rem-calc(26); 
          left: $gutter-medium; 
        }
        @include breakpoint($medium) { left: $gutter-large; }
      }

        &__date {
          margin: 0;
        }
    }
  }

//--------------------------------------------------
// chapter hero
//--------------------------------------------------
  &--chapter {
    @include hero-basic;
    
    @include breakpoint($small) {
      
    }

    @include breakpoint($medium) { 
      min-height: rem-calc(512); 
    }

    .hero {
      &__content {
        margin-top: rem-calc(22);

        @include breakpoint($small) { margin-top: rem-calc(32); }
        @include breakpoint($medium) { 
          margin-top: 0;
          margin-bottom: auto;
        }
      }

      &__intro {
        @include hero-animation(1s);
        font-size: rem-calc(16);
        font-weight: $light; 
        line-height: 1.3;
        margin-top: rem-calc(20);
        margin-bottom: rem-calc(36);

        @include breakpoint($small) { 
          font-size: rem-calc(18); 
          width: 85%; 
        }

        @include breakpoint($medium) { 
          margin-top: rem-calc(20);
          width: 50%; 
        }
      }

      &__subtitle { 
        @include hero-animation;
        font-size: rem-calc(14); 
        font-weight: $light;
      }

      &__title {
        @include hero-animation(.5s);
        font-size: rem-calc(32);
        font-weight: $bold;

        @include breakpoint($small) {
          font-size: rem-calc(40);
          width: 50%;
        }
      }

      &__date {
        @include hero-animation(1.5s);
        font-size: rem-calc(14);
        margin: 0;
        padding-bottom: rem-calc(30);

        @include breakpoint($small) {
          font-size: rem-calc(16);
        }
      }
    }
  }
}