//--------------------------------------------------
// icons
//--------------------------------------------------
.icon {
  &--arrow-right {
    background-image: image-url('icons/arrow-right.svg');
    background-size: cover;
    width: rem-calc(27); height: rem-calc(19);

    display: inline-block;
  }

  &--download {
    background-image: image-url('icons/download.svg');
    background-size: cover;
    width: rem-calc(23); height: rem-calc(23);

    display: block;

    @include breakpoint($small) { 
      width: rem-calc(20); 
      height: rem-calc(19); 
    }
  }

  &--share {
    background-image: image-url('icons/share.svg');
    background-size: cover;
    width: rem-calc(21); height: rem-calc(19);

    display: block;

    @include breakpoint($small) { width: rem-calc(30); height: rem-calc(28); }
  }
}