// Mixins
@mixin icon() {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}



//--------------------------------------------------
// icons
//--------------------------------------------------
.icon {
  &--arrow-right {
    background-image: image-url('icons/arrow-right.svg');
    background-size: cover;
    width: rem-calc(27); height: rem-calc(19);

    display: inline-block;
  }
  
  &--circle-chevron-white { 
    background-image: image_url("icons/circle-chevron-white.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    display: block;
    width: rem-calc(20); height: rem-calc(20);

    @include breakpoint($small) {
      width: rem-calc(34); height: rem-calc(34);
    }
  }

  &--cross {
    background-image: image_url("icons/cross.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    display: block;
    width: rem-calc(23); 
    height: rem-calc(23);
  }

  &--download {
    background-image: image-url('icons/download.svg');
    background-size: cover;
    width: rem-calc(17); height: rem-calc(16);

    display: block;

    @include breakpoint($small) { 
      width: rem-calc(20); 
      height: rem-calc(19); 
    }
  }

  &--close-white {
    background-image: image-url('icons/cross-white.svg');
    background-size: cover;
    width: rem-calc(18); height: rem-calc(18);

    display: block;
  }

  &--minus-white {
    @include icon;
    background-image: image-url('icons/minus-white.svg');

    width: rem-calc(22); height: rem-calc(20);

    display: block;
  }

  &--share {
    background-image: image-url('icons/share.svg');
    background-size: cover;
    width: rem-calc(21); height: rem-calc(19);

    display: block;

    @include breakpoint($small) { width: rem-calc(30); height: rem-calc(28); }
  }

}