.multilingual {
  padding-top: rem-calc(103);
  padding-bottom: rem-calc(103);
  background-color: $grey-xdark;
  height: rem-calc(630);

  @include breakpoint($small) {
    height: rem-calc(650);
  }
}