//--------------------------------------------------
// pagination variables
//--------------------------------------------------
$iconSmall: 23;
$iconMedium: 28;
//--------------------------------------------------
// pagination
//--------------------------------------------------
.pagination {
  font-size: rem-calc(20);
  font-weight: $medium;
  padding-top: rem-calc(22);
  padding-bottom: rem-calc(18);

  @include breakpoint($small) {
    font-size: rem-calc(25);
    height: rem-calc(166);
    padding-top: 0;
    padding-bottom: 0; 
  }

  @include breakpoint($medium) {
    font-size: rem-calc(25);
    height: rem-calc(200);
  }

  &__next {
    border-top: solid rem-calc(1) $black;
    color: $body-font-color;
    margin-top: rem-calc(14);
    padding-top: rem-calc(18);
    text-align: center;
    text-decoration: none;

    @include breakpoint($small) { text-align: left; }
  }

    &__text {
      width: calc(100% - #{$iconSmall}px);

      @include breakpoint($small) { width: calc(100% - #{$iconMedium}px); }
    }

    &__icon {
      margin-left: rem-calc(18); 
      width: rem-calc($iconSmall); height: rem-calc(15);

      @include breakpoint($small) {
        width: rem-calc($iconMedium); height: rem-calc(19);
      }
    }
}