//--------------------------------------------------
// pagination
//--------------------------------------------------
.pagination {
  font-size: rem-calc(20);
  font-weight: $medium;
  height: rem-calc(134);

  @include breakpoint($small) {
    font-size: rem-calc(25);
    height: rem-calc(166);
  }

  @include breakpoint($medium) {
    font-size: rem-calc(25);
    height: rem-calc(200);
  }

  &__next {
    border-top: solid rem-calc(1) $black;
    color: $body-font-color;
    margin-top: rem-calc(14);
    padding-top: rem-calc(18);
    text-decoration: none;
  }

  &__icon {
    margin-left: rem-calc(18); 
    width: rem-calc(21); height: rem-calc(15);

    @include breakpoint($small) {
      width: rem-calc(27); height: rem-calc(19);
    }
  }
}