//--------------------------------------------------
// pagination
//--------------------------------------------------
.pagination {
  font-size: rem-calc(25);
  font-weight: $bold;
  height: rem-calc(200);

  &__next {
    border-top: solid rem-calc(1) $black;
    color: $body-font-color;
    margin-top: rem-calc(14);
    padding-top: rem-calc(18);
    text-decoration: none;
  }
}