//--------------------------------------------------
// parallax
//--------------------------------------------------
.parallax {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include breakpoint($medium) { background-attachment: fixed; }

  .chapter-1 & { background-image: $chapter-image-1; }
  .chapter-2 & { background-image: $chapter-image-2; }
  .chapter-3 & { background-image: $chapter-image-3; }
  .chapter-4 & { background-image: $chapter-image-4; }
  .chapter-5 & { background-image: $chapter-image-5; }
  .chapter-6 & { background-image: $chapter-image-6; }
  .chapter-7 & { background-image: $chapter-image-7; }
  .chapter-8 & { background-image: $chapter-image-8; }
  .chapter-9 & { background-image: $chapter-image-9; }
  .chapter-10 & { background-image: $chapter-image-10; }
}