// Height of popup share arrow
$popup-share-arrow-height: rem-calc(11);
//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin social-basic ($image) {
  background-image: image-url($image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  display: inline-block;

  &:hover { opacity: .75; } 
}

@mixin social-icon ($image) {
  @include social-basic($image);

  @include breakpoint($small) {
    margin-right: rem-calc(14);
    width: rem-calc(41); 
    height: rem-calc(41);
  }
}

@mixin social-icon-white ($image) {
  @include social-basic($image);
  width: rem-calc(26); height: rem-calc(30);

  &:first-child { 
    margin-top: rem-calc(10);
  }

  @include breakpoint($small) {
    &:first-child {
      margin-top: 0;
    }
  }
}

//--------------------------------------------------
// classes
//--------------------------------------------------
.social {
//--------------------------------------------------
// following or sharing via social media 
//--------------------------------------------------
  &--media {
    @include flex;
    position: relative;

    .social__icon {
      &--email { @include social-icon('icons/email.svg'); }
      &--facebook {
        @include social-icon-white('icons/facebook-white.svg');

        @include breakpoint($small) {
          @include social-icon('icons/facebook.svg'); 
        } 
      }
      &--linkedin { 
        @include social-icon-white('icons/linkedin-white.svg');

        @include breakpoint($small) {
          @include social-icon('icons/linkedin.svg'); 
        }
      }
      &--twitter { 
        @include social-icon-white('icons/twitter-white.svg');

        @include breakpoint($small) {
          @include social-icon('icons/twitter.svg'); 
        }
      }
    }
  }  

  &--media-white {
    .social__icon {
      &--email { @include social-icon-white('icons/email-white.svg'); }
      &--facebook { @include social-icon-white('icons/facebook-white.svg'); }
      &--linkedin { @include social-icon-white('icons/linkedin-white.svg'); }
      &--twitter { @include social-icon-white('icons/twitter-white.svg'); }
    }
  }

  &__popup {
    background-color: $grey;
    border-radius: 3px;
    padding: rem-calc(10 20);
    width: max-content;

    position: absolute;
    top: calc(100% + #{$popup-share-arrow-height * 3});
    right: 0;

    a {
      text-decoration: none;
    }

    &:before {
      @include triangle(rem-calc(20), $popup-share-arrow-height, $grey);

      position: absolute;
      top: calc(-#{$popup-share-arrow-height} * 0.8);
      right: 0;
    }
  }

  &__target {
    display: none;
    position: relative;

    &--active {
      display: block;
      position: relative;
    }
  }
}