//--------------------------------------------------
// topbar
//--------------------------------------------------
.topbar {
  &__site-link {
    text-decoration: none;
  }
  
    &__logo {
      opacity: .8;
      width: auto; height: rem-calc(22);

      @include breakpoint($small) { height: rem-calc(44); }
      @include breakpoint($medium) { height: rem-calc(48); }
    }
}