<!DOCTYPE html>
<html>
  <head>
    <%= render 'partials/head' %>
  </head>

  <body>
      <div id="v-app">
        <%= yield %>
      </div>

      <%= render 'partials/footer' %>
  </body>
</html>
