<!DOCTYPE html>
<html>
  <head>
    <%= render 'partials/head' %>
  </head>

  <body>
      <div id="v-app" v-cloak>

        <%= render 'partials/hero-home' %>

        <%= yield %>

        <%= render 'partials/footer' %>
      </div>
  </body>
</html>
